<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% if user %}
        <h2>Welcome, {{ user }}!</h2>
        <a href="/logout">Logout</a>
    {% else %}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>

            <input type="submit" value="Login">
        </form>
    {% endif %}
</body>
</html>